$font-large-primary : clamp(2rem,3rem, 4rem);
$font-large-secondary: clamp(1rem,1.5rem, 2rem);
$font-primary:clamp(1rem,1.3rem, 1.8rem);
$font-secondary:clamp(0.9rem,1.2rem, 1.5rem);





$text-primary:#023047;
$text-secondary:#f8f9fa;

$pink:#db2991;
$blue:#3a86ff;
$green:#80ed99;
$violet:#9381ff;

$bg-white:#f8f9fa;
$bg-gray:#dee2e6;
$bg-pink:#ffd6ff;
$bg-blue:#c4fff9;
$bg-violet:#9c96bf6d;

