* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Handlee", cursive;
  color: #023047;
}

ul {
  list-style: none;
}

.heading {
  font-size: 1.3rem;
}

.description {
  font-size: 1.2rem;
}

.btn {
  text-align: center;
  min-width: 10rem;
  padding: 0.3rem 0.5rem;
  color: #db2991;
  border: 0.2rem solid #db2991;
  border-radius: 0.5rem;
  font-weight: 800;
  font-size: #f8f9fa;
}

.btn--primary {
  background-color: #db2991;
  color: #f8f9fa;
}

.header {
  padding: 1rem 5rem;
  background-color: #dee2e6;
  width: 100%;
}

.header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.4rem 1rem;
}
.header .header__nav .nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 0.3rem;
  cursor: pointer;
}
.header .header__nav .nav__logo .nav__img {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #023047;
  border-radius: 100%;
}
.header .header__nav .nav__logo .nav__name {
  font-size: 1.3rem;
  font-weight: 900;
}
.header .header__nav .nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 1.5rem;
}
.header .header__nav .nav__links .nav__link {
  font-size: 0.9rem;
  opacity: 0.7;
  cursor: pointer;
}
.header .header__nav .nav__links .nav__link--active {
  opacity: 1;
}
.header .header__nav .nav__links .nav__link--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media (max-width: 60rem) {
  .header .header__nav .nav__links {
    display: none;
  }
}
.header .header__nav .nav__socials-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 1.5rem;
}
.header .header__nav .nav__menu {
  display: none;
}
@media screen and (max-width: 40rem) {
  .header .header__nav .nav__socials-links {
    display: none;
  }
  .header .header__nav .nav__menu {
    display: block;
  }
}

.header .header__hero {
  width: 100%;
  padding: 10rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 40rem) {
  .header .header__hero {
    padding: 2rem 0rem;
  }
}
.header .header__hero .hero__left {
  width: 60%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__hero .hero__left .hero__image_background {
  background-color: #023047;
  width: 50%;
  overflow: hidden;
  border-top-right-radius: 50%;
  border-top-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 40%;
}
.header .header__hero .hero__left .hero__image_background img {
  height: 100%;
}
.header .header__hero .hero__right {
  padding: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem 0;
}
.header .header__hero .hero__right .hero__heading {
  font-size: 3rem;
  word-spacing: 1rem;
}
.header .header__hero .hero__right .hero__description {
  color: #023047;
  font-size: 1.2rem;
}
.header .header__hero .hero__right .hero__buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem 1.5rem;
}
@media screen and (max-width: 40rem) {
  .header .header__hero .hero__right .hero__buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem 1.5rem;
  }
}
@media screen and (max-width: 60rem) {
  .header .header__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .header__hero .hero__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .header__hero .hero__left .hero__image_background {
    width: 80%;
    background-size: cover;
  }
  .header .header__hero .hero__right {
    width: 100%;
  }
}

.main {
  padding: 1rem 5rem;
  background-color: #f8f9fa;
  width: 100%;
}

.main .main__about {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 10rem 2rem;
  flex-wrap: wrap;
}
.main .main__about .main__intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.3rem 0;
  gap: 2rem 0rem;
}
.main .main__about .main__intro .main__leftcontainer {
  width: 40%;
}
.main .main__about .main__intro .main__rightcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  width: 45%;
}
.main .main__about .main__intro .main__rightcontainer .main__skill-bar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.main .main__about .main__intro .main__rightcontainer .main__skill-bar input {
  display: block;
  width: 100%;
}
.main .main__about .main__skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main .main__about .main__skills .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
}
@media screen and (max-width: 40rem) {
  .main .main__about {
    padding: 2rem 1rem;
  }
  .main .main__about .main__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .main .main__about .main__intro .main__leftcontainer, .main .main__about .main__intro .main__rightcontainer {
    width: 100%;
  }
  .main .main__about .main__skills {
    gap: 2rem 0;
    justify-content: center;
  }
  .main .main__about .main__skills .skill {
    width: 60%;
  }
}

.main .main__projects {
  padding: 5rem 0;
}
.main .main__projects .project__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}
.main .main__projects .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem 1rem;
}
.main .main__projects .projects .projects__project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 5rem;
  overflow-y: hidden;
}
.main .main__projects .projects .projects__project .project__leftcontainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__projects .projects .projects__project .project__leftcontainer .center {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem 0;
}
.main .main__projects .projects .projects__project .project__rightcontainer {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 60%;
}
.main .main__projects .projects .projects__project .project__rightcontainer img {
  position: relative;
  top: 5rem;
  width: 100%;
}
.main .main__projects .projects .direction--left-right {
  flex-direction: row;
}
.main .main__projects .projects .direction--right-left {
  flex-direction: row-reverse;
}
.main .main__projects .projects .projects__project--blue {
  background-color: #c4fff9;
}
.main .main__projects .projects .projects__project--pink {
  background-color: #ffd6ff;
}
.main .main__projects .projects .projects__project--violet {
  background-color: rgba(156, 150, 191, 0.4274509804);
}
@media screen and (max-width: 50rem) {
  .main .main__projects {
    padding: 2rem 0;
  }
  .main .main__projects .project__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem 0;
  }
  .main .main__projects .projects .projects__project {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem 0;
  }
  .main .main__projects .projects .projects__project .project__leftcontainer {
    width: 100%;
    display: block;
  }
  .main .main__projects .projects .projects__project .project__leftcontainer .center {
    padding: 0;
    gap: 1rem 0;
  }
  .main .main__projects .projects .projects__project .project__rightcontainer {
    width: 100%;
  }
  .main .main__projects .projects .projects__project .project__rightcontainer img {
    position: relative;
    top: 0rem;
    width: 100%;
  }
}

.main .main__contact {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  background-color: #ffd6ff;
  padding: 4rem;
  margin: 10rem 0;
}
.main .main__contact .contact__leftcontainer {
  width: 50%;
}
.main .main__contact .contact__leftcontainer .heading, .main .main__contact .contact__leftcontainer .description {
  width: 60%;
}
.main .main__contact .contact__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.main .main__contact .contact__form .formdata {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem 2rem;
}
.main .main__contact .contact__form .formdata input, .main .main__contact .contact__form .formdata textarea {
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  outline: none;
  border: none;
  padding: 0.4rem 0.5rem;
  text-align: start;
  font-size: 1.2rem;
}
.main .main__contact .contact__form .formdata .message {
  height: 7rem;
  resize: none;
}
@media screen and (max-width: 40rem) {
  .main .main__contact {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    gap: 2rem 0;
  }
  .main .main__contact .contact__leftcontainer {
    width: 100%;
  }
  .main .main__contact .contact__leftcontainer .heading, .main .main__contact .contact__leftcontainer .description {
    width: 100%;
  }
  .main .main__contact .contact__form {
    width: 100%;
  }
}

.footer {
  padding: 1rem;
  background-color: #023047;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 10rem;
}
.footer p {
  color: #f8f9fa;
}
.footer .footer__socials-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
}

@media screen and (max-width: 40rem) {
  .header {
    padding: 0;
  }
  .main {
    padding: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */